# Dependencies
node_modules

# Build outputs
dist
build

# Logs
*.log
logs

# Package manager files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Environment files
.env
.env.*

# Coverage
coverage

# Database files
data
*.db
*.sqlite
